* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: #333;
}

#textarea {
  height: 200px;
  width: 300px;
  font-size: 16px;
  padding: 15px 10px;
}
.container {
  margin: 50px;
}

.container h1 {
  font-size: 26px;
  padding: 20px 0;
}
span {
  color: blueviolet;
  text-decoration: underline;
}
